<div class="main">
    <% if @users.exists? %>
    <div class="container">
        <% @users.each do |user| %>
        <div class="card">
            <div class="user-left">
                <img src="<%= "/user_images/#{user.image_name}" %>">
                <div class="user-right">
                    <%= link_to(user.name, "/users/#{user.id}") %>
                </div>
            </div>

        </div>
        <% end %>
    </div>
    <% else %>
    <p>ユーザーはいません</p>
    <% end %>
</div>