<div class="text-center posts-new ">
    <div class="formbody text-center ">
        <div class="form-signin">
            <%=form_with(model: @post, url: posts_path, local: true) do |f| %>
            <div class="form">
                <div class="form-body">
                    <h1 class="form-heading text-center ">投稿する</h1>
                    <% @post.errors.full_messages.each do |message| %>
                    <div class="form-error">
                        <%= message %>
                    </div>
                    <% end %>
                    <h1>スペースを入力することで複数のタグを付けることができます。</h1>
                    <h3>例：音楽 文芸 スポーツ</h3>
                    <%= f.text_field :tag_name%>

                    <textarea name="content"><%= @post.content %></textarea>

                    <input name="image" type="file">

                    <input type="submit" value="投稿">
                </div>
            </div>
            <% end %>
        </div>
    </div>
</div>