<div class="text-center posts-new ">
    <div class="formbody text-center ">
        <div class="form-signin">
            <%= form_tag("/posts/create", {multipart: true}) do  %>
            <div class="form">
                <div class="form-body">
                    <h1 class="form-heading text-center ">投稿する</h1>
                    <% @post.errors.full_messages.each do |message| %>
                    <div class="form-error">
                        <%= message %>
                    </div>
                    <% end %>
                    <h1>スペースを入力することで複数のタグを付けることができます。</h1>
                    <h3>例：音楽 文芸 スポーツ</h3>
                    <textarea name="content"> <%= @post.tag_name %></textarea>

                    <textarea name="content"><%= @post.content %></textarea>

                    <input name="image" type="file">

                    <input type="submit" value="投稿">
                </div>
            </div>
            <% end %>
        </div>
    </div>
</div>