// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.posts-index-item {
    padding: 20px 30px;
    background-color: white;
    overflow: hidden;
    box-shadow: 0 2px 6px #c1ced7;
  }
.post-left img{
  width: 50px;
  height: 50px;
  border-radius: 40%;
  box-shadow: 0 2px 6px #c1ced7;
  object-fit: cover;
  }
  .post-user-name a{
    font-weight: 600;
    
  }
  .post-user-name a:hover {
    color: #cd3e51;
  }
  .post-left{
    float: left;
    width: 10%;
  }
  .post-right {
    float: left;
    width: 90%;
    padding-left: 25px;
    text-align: left;
  }
  .posts-show form {
    display: inline;
  }
  
  .posts-show-item{
    padding: 30px;
    background-color: white;
    overflow: hidden;
    box-shadow: 0 2px 6px #c1ced7;
  }
  .posts-show-item img {
    width: 60px;
    height: 60px;
    border-radius: 40%;
    box-shadow: 0 2px 6px #c1ced7;
    vertical-align: middle;
    object-fit: cover;
  }
  
  .posts-show-item .post-user-name a {
    vertical-align: middle;
    font-size: 24px;
    margin-left: 15px;
  }  
  .posts-show-item p {
    font-size: 24px;
    margin: 20px 0;
  }
  .post-time{
    text-align:center;
    color: #8899a6;
    margin-bottom: 10px;
    }
  .like-btn {
      color: #8899a6;
  }
  
  .like-btn-unlike {
      color: #ff2581;
  }
  .posts-show-item .fa {
    font-size: 16px;
    margin-right: 3px;
  }
  .post-menus {
    float: right;
  }
  .post-menus a, .post-menus input {
    color: #8899a6;
    text-decoration: underline;
    font-size: 14px;
  }
  
  .posts-new textarea::-webkit-input-placeholder {
    font-size: 24px;
    opacity: 0.5;
  }
  .form input[type="submit"] {
    background-color: black;
    color: white;
    cursor: pointer;
    font-weight: 300;
    width: 120px;
    border-radius: 2px;
    margin-top: 8px;
    margin-bottom: 0;
    }
  .form textarea {
    width: 100%;
    min-height: 140px;
    font-size: 16px;
    letter-spacing: 2px;
    resize: none;
  }
  
  .form-heading {
    font-weight: 300;
    margin: 60px 0 20px;
    font-size: 48px;
    color: #bcc8d4;
  }
  
  .form-body {
    padding: 30px;
  }
  .formbody{
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #f5f5f5;
    height: 100%;
  }